* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.abcd {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  transform: translate(-50px, -50px);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
